body {
    font-family: montserrat;
    font-size: 16px;
}

.education {
    padding-left: 50px;
}

a {
    text-decoration: none;
    color: rgb(128, 6, 243);
}

h2 {
    font-family: Varela Round;
}

h3 {
    font-family: Varela Round;
}

/* Added media queries for mobile responsiveness */

@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .education {
        padding-left: 20px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    /* Add more styles as needed for mobile layout */
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
    .education {
        padding-left: 10px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }
    /* Add more styles as needed for mobile layout */
}